.city-name-style{
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
body {
    .outer {
        display: table;
        width: 100%;
        .inner {
            display: table-cell;
            vertical-align: middle;
            #city-name{
                .city-name-style;
            }
        }
    }
    .dropdown {
        ul {
            width: 100%;
            text-align: center;
            background-color: #444;
            li{
               .city-name-style; 
            }
        }
    }
    .heavy-font {
        font-weight: bolder;
        font-size: 60px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .weather-main {
        font-size: 25px;
    }
    .weather-panel {
        padding: 20px;
    }
}
